@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #f0f0f0;
  --background-end-rgb:#e9e9e9; ;
  --radial-gradient: radial-gradient(#e0b683 2px, transparent 2px), radial-gradient(#e0b683 2px, #e1e1e1 2px);
  --backgr: #e1e1e1;
}

  .dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: #000000;
    --background-end-rgb: #303030;
      --radial-gradient: radial-gradient(#1b1004 2px, transparent 2px), radial-gradient(#1b1004 2px, #000000 2px);
  --backgr: #000000;

  }


html {
          scroll-behavior: smooth;
    scroll-padding-top: 64px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--radial-gradient);
    min-height: 100vh;
background-size: 80px 80px;
background-position: 0 0,40px 40px;
    
}

.backgconf {
  background: var(--backgr);
}

.heights {
  min-height: calc(100vh - 232px);

}